<%- include('../elements/header'); %>

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-tachometer"></i> <a
                            href="admin/dashboard">Bảng điều khiển</a></li>
                <li class="active"><a href="/admin/<%= controller ;%>/list"> Ưu đãi </a></li>
                <li class="active">Chi tiết</li>
            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input"
                                   id="nav-search-input" autocomplete="off"/>
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="ace-settings-container" id="ace-settings-container">
                <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-130"></i>
                </div>

                <div class="ace-settings-box clearfix" id="ace-settings-box">
                    <div class="pull-left width-50">
                        <div class="ace-settings-item">
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hide">
                                    <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                </select>
                            </div>
                            <span>&nbsp; Choose Skin</span>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                   id="ace-settings-navbar" autocomplete="off"/>
                            <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                   id="ace-settings-sidebar" autocomplete="off"/>
                            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                   id="ace-settings-breadcrumbs" autocomplete="off"/>
                            <label class="lbl" for="ace-settings-breadcrumbs"> Fixed
                                Breadcrumbs</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"
                                   autocomplete="off"/>
                            <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state"
                                   id="ace-settings-add-container" autocomplete="off"/>
                            <label class="lbl" for="ace-settings-add-container">
                                Inside
                                <b>.container</b>
                            </label>
                        </div>
                    </div><!-- /.pull-left -->

                    <div class="pull-left width-50">
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                   id="ace-settings-hover" autocomplete="off"/>
                            <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                   id="ace-settings-compact" autocomplete="off"/>
                            <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2"
                                   id="ace-settings-highlight" autocomplete="off"/>
                            <label class="lbl" for="ace-settings-highlight"> Alt. Active
                                Item</label>
                        </div>
                    </div><!-- /.pull-left -->
                </div>
            </div>

            <div class="page-header">
                <h1>  Ưu đãi <small> <i class="ace-icon fa fa-angle-double-right"></i> Chi tiết </small> </h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="">
                        <form method="post" action="/admin/<%= controller ;%>/edit/<%= data.promotion
                                .id ;%>">
                            <div class="widget-body">
                                <input type="hidden" value="<%= data.promotion.id ;%>" name="id">
                                <div class="widget-main">

                                    <div>
                                        <label for="form-field-select-1">Tên ưu đãi</label>
                                        <input type="text" name="name"
                                                value="<%= data.promotion.name ;%>"
                                                id="form-field-select-1" placeholder="Tên ưu đãi"
                                                class="form-control">
                                        <span class="error"><%= errorData.name ;%></span>
                                    </div>
                                    <br>

                                    <div>
                                        <label for="form-field-select-1">Thumbnail</label>
                                        <input type="text" name="image"
                                               value="<%= data.promotion.image ;%>"
                                               id="form-field-select-1" placeholder="Thumbnail"
                                               class="form-control">
                                        <span class="error"><%= errorData.iamge ;%></span>
                                    </div>
                                    <br>

                                    <div>
                                        <label for="form-field-select-1">Nội dung</label>
                                        <textarea type="text" name="content" rows="5"
                                               id="form-field-select-1" placeholder="Nội dung"
                                               class="form-control"><%= data.promotion.content ;%></textarea>
                                        <span class="error"><%= errorData.content ;%></span>
                                    </div>
                                    <br>

                                    <br>
                                    <br>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                &nbsp; &nbsp; &nbsp;
                                                <button class="btn btn-info" type="submit">
                                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                                    Xác nhận
                                                </button>
                                                <a href="/admin/<%= controller ;%>/list%>">
                                                    <button class="btn" type="button"> Quay lại
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /.span -->
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->


<%- include('../elements/footer'); %>

<script src="/js/jquery-ui.min.js"></script>
<script>
    jQuery(function ($) {
        $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
    })
</script>
