
<%- include('../elements/header'); %>

<div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li> <i class="ace-icon fa fa-tachometer"></i> <a href="/admin/dashboard">Dashboard</a> </li>
                    <li class="active"><a href="/admin/<%= controller %>/list"> Categories </a> </li>
                    <li class="active">Thêm</li>
                </ul>

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>  Người dùng <small> thêm mới <small>  </h1>
                </div><!-- /.page-header -->

                <div class="row">
                        <%- include ../elements/flash.ejs %>
                    <div class="col-xs-12 col-sm-6">
                        <div class=" ">
                            <form method="post" action="/admin/<%=controller%>/add">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div>
                                        <label for="form-field-select-1">Tên đăng nhập</label>
                                        <input type="text" name="username"
                                               value="<%= data.user.username ;%>"
                                               id="form-field-select-1" placeholder="Tên đăng nhập"
                                               class="form-control">
                                        <span class="error"><%= errorData.username ;%></span>
                                    </div>
                                    <br>

                                    <div>
                                        <label for="form-field-select-1">Mật khẩu</label>
                                        <input type="text" name="password"
                                               value="<%= data.user.password ;%>"
                                               id="form-field-select-1" placeholder="Mật khẩu"
                                               class="form-control">
                                        <span class="error"><%= errorData.password ;%></span>
                                    </div>
                                    <br>

                                    <div>
                                        <label for="form-field-select-1">Họ và tên</label>
                                        <input type="text" name="fullname"
                                               value="<%= data.user.fullname ;%>"
                                               id="form-field-select-1" placeholder="Họ và tên"
                                               class="form-control">
                                        <span class="error"><%= errorData.fullname ;%></span>
                                    </div>
                                    <br>

                                    <div>
                                        <label for="form-field-select-1">Tên</label>
                                        <input type="text" name="name"
                                               value="<%= data.user.name ;%>"
                                               id="form-field-select-1" placeholder="Tên"
                                               class="form-control">
                                        <span class="error"><%= errorData.name ;%></span>
                                    </div>
                                    <br>

                                    <div>
                                        <label for="form-field-select-1"> Email </label>
                                        <input type="text" name="email" value="<%= data.user.email ;%>"
                                               id="form-field-select-1" placeholder="Email"
                                               class="form-control">
                                        <span class="error"><%= errorData.email ;%></span>
                                    </div>
                                    <br>

                                    <div>
                                        <label for="form-field-select-1"> SĐT </label>
                                        <input type="text" name="phone"
                                               value="<%= data.user.phone ;%>"
                                               id="form-field-select-1" placeholder="Mobile Number"
                                               class="form-control">
                                        <span class="error"><%= errorData.phone ;%></span>
                                    </div>
                                    <br>

                                    <div>
                                        <label for="form-field-select-1"> Mật khẩu </label>
                                        <input type="text" name="phone"
                                               value=""
                                               id="form-field-select-1" placeholder="Mật khẩu"
                                               class="form-control" required>
                                        <span class="error"><%= errorData.pasword ;%></span>
                                    </div>
                                    <br>

                                    <br>

                                    <div>
                                        <label for="form-field-select-2">Chức vụ</label>
                                        <div class="select form-control"
                                            id="form-field-select-2">
                                            <% data.sytemRoles.forEach(function(role) { %>
                                                <span class="role-option">
                                                    <input
                                                    type="checkbox"
                                                    value="<%- role.id %>"
                                                    name="roles[]"
                                                    <% if (data.user.roleIds && data.user.roleIds.indexOf(role.id) !== -1) { %>
                                                        checked
                                                    <% } %>
                                                    >
                                                        <%- role.name %> -
                                                        <% if (role.permition === 'r') { %>
                                                            Xem <%- role.entity %>
                                                        <% } else if (role.permition === 'w') { %>
                                                            Sửa <%- role.entity %>
                                                        <% } %>
                                                </span>
                                                <br>
                                            <% }) %>
                                        </div>
                                        <span class="error"><%= errorData.is_active ;%></span>
                                    </div>
                                    <br>
                                    <br>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button class="btn btn-info" type="submit"><i
                                                            class="ace-icon fa fa-check bigger-110"></i>
                                                    Xác nhận
                                                </button>
                                                &nbsp; &nbsp; &nbsp;
                                                <a href="/admin/<%= controller ;%>/list">
                                                    <button class="btn" type="button"> Hủy
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div><!-- /.span -->
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->


<%- include('../elements/footer'); %>
