
<%- include('../elements/header'); %>

<div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li> <i class="ace-icon fa fa-tachometer"></i> <a href="/admin/dashboard">Bảng điều khiển</a> </li>
                        <li class="active"><a href="/admin/<%=controller%>/list"> Suất chiếu </a> </li>
                        <li class="active">Chỉnh sửa</li>
                    </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">

                <div class="page-header">
                    <h1>  Suất chiếu <small>   <i class="ace-icon fa fa-angle-double-right"></i>   Chỉnh sửa  </small> </h1>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="">
                            <form method="post" action="/admin/<%=controller%>/edit/<%=data.session.id%>">
                                <div class="widget-body">
                                    <input type="hidden" value="<%=data.session.id%>" name="id">
                                    <div class="widget-main">
                                        <div>
                                            <label for="form-field-select-1"> Rạp chiếu </label>
                                            <div class="frmSearch">
                                                <input class="director_id_input" type="hidden" value="<%- data.session.cinema.id %>" name="cinemaId" >
                                                <input type="text" class="search-box cinema form-control" value="<%- data.session.cinema.name %> " placeholder="Mặt trời" required/>
                                                <div class="suggestion-box"></div>
                                            </div>

                                            <span class="error">
                                                <%=errorData.cinema_id%>
                                            </span>
                                        </div> <br>

                                        <div>
                                            <label for="form-field-select-1"> Phim </label>
                                            <div class="frmSearch">
                                                <input class="director_id_input" type="hidden" value="<%- data.session.film.id %>" name="filmId" >
                                                <input type="text" class="search-box film form-control" value="<%- data.session.film.name %> " placeholder="Mặt trời" data-duration="<%- data.session.film.duration %> " required/>
                                                <div class="suggestion-box"></div>
                                                <div style="font-size: 1.1rem;">
                                                    <span id="film-duration"><%- data.session.film.duration %></span>
                                                    phút
                                                </div>
                                            </div>

                                            <span class="error">
                                                <%=errorData.film_id%>
                                            </span>
                                        </div> <br>

                                        <div>
                                            <label for="form-field-select-1"> Phòng chiếu </label>
                                            <div class="frmSearch">
                                                <input class="director_id_input" type="hidden" value="<%- data.session.room.id %>" name="roomId" >
                                                <input type="text" class="search-box room form-control" value="<%- data.session.room.name %> " placeholder="RAP1" required/>
                                                <div class="suggestion-box"></div>
                                            </div>

                                            <span class="error">
                                                <%=errorData.room_id%>
                                            </span>
                                        </div> <br>

                                        <div>
                                            <label for="form-field-select-1"> Ngày chiếu </label>
                                            <input id="datepicker" type="text" name="date" value="<%=data.session.date%>" id="form-field-select-1" placeholder="2021-04-05" class="form-control" required>
                                            <span class="error"><%=errorData.date%></span>
                                        </div> <br>

                                        <div>
                                            <label for="form-field-select-1"> Giờ bắt đầu </label>
                                            <input id="timepicker" type="time" name="startTime" value="<%=data.session.startTime%>" id="form-field-select-1" placeholder="2021-04-05" class="form-control" min="<%- data.startTime %>" max="<%- data.endTime %>" required>
                                            <!-- <span class="error"><%=errorData.startTime%></span>    -->
                                        </div> <br>

                                        <div>
                                            <label for="form-field-select-1"> Khung giờ đã có suất chiếu </label>
                                            <div id="scheduled_times_block">
                                            <% data.scheduledTimes.forEach(time => { %>
                                                <% if (time.startTime !== data.session.startTime && time.endTime !== data.session.endTime) { %>
                                                <span class="btn-danger" style="padding: 3px; margin-right: 3px;">
                                                    <%- time.startTime %> -  <%- time.endTime %>
                                                </span>
                                                <% } %>
                                            <% }) %>
                                            </div>
                                        </div> <br>

                                        <div>
                                            <label for="form-field-select-1"> Giờ kết thúc </label>
                                            <input id="end-time-input" type="text" name="endTime" value="<%=data.session.endTime%>" id="form-field-select-1" placeholder="2021-04-05" class="form-control" readonly required>
                                            <span class="error"><%=errorData.endTime%></span>
                                        </div> <br>

                                        <div>
                                            <label for="form-field-select-1"> Giá (VNĐ) </label>
                                            <input id="end-time-input" type="text" name="price" value="<%=data.session.price%>" id="form-field-select-1" placeholder="60000" class="form-control" required>
                                            <span class="error"><%=errorData.price%></span>
                                        </div> <br>

                                        <br>
                                        <div>
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button class="btn btn-info" type="submit">
                                                        <i class="ace-icon fa fa-check bigger-110"></i> Xác nhận
                                                    </button>
                                                    &nbsp; &nbsp; &nbsp;
                                                    <a href="/admin/<%=controller%>/list%>">
                                                        <button class="btn" type="button"> Hủy </button>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.span -->
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->


<%- include('../elements/footer'); %>

<script src="/js/jquery-ui.min.js"></script>

<script type="text/javascript">
    function fetchScheduledTimeOnDateChange() {
        $('#datepicker').bind('change', function() {
            const self = this;
            const cinemaId = $('input[name=cinemaId]').val();
            const roomId = $('input[name=roomId]').val();
            $.ajax({
                type: 'GET',
                url: '/admin/sessions',
                data: `date=${$(self).val()}&cinemaId=${cinemaId}&roomId=${roomId}`,
                success: function(scheduledTimes) {
                    const scheduledTimesBlock = $('#scheduled_times_block');

                    scheduledTimesBlock.html('');

                    if (Array.isArray(scheduledTimes)) {
                        scheduledTimes.forEach((time) => {
                            scheduledTimesBlock.append(`
                            <span class="btn-danger" style="padding: 3px; margin-right: 3px">
                                ${time.startTime} - ${time.endTime}
                            </span>
                            `);
                        });
                    }
                }
            });
        })
    }

    function estimateEndTime(startTime, duration) {
        if (typeof (duration) === 'string') {
            duration = parseInt(duration, 10);
        }

        const hhmmArray = startTime.split(':');
        const hh = parseInt(hhmmArray[0], 10);
        const mm = parseInt(hhmmArray[1], 10);
        const minutes = hh * 60 + mm + duration;
        const endMinutes = (minutes % 60 === 0 ? minutes : 60 * Math.ceil(minutes / 60));
        const integerEndHh = endMinutes / 60;
        const integerEndMm = endMinutes % 60;

        function fillZeroAheadDigit(digit) {
            if (digit >= 10) return `${digit}`;

            return `0${digit}`;
        }

        return `${fillZeroAheadDigit(integerEndHh)}:${fillZeroAheadDigit(integerEndMm)}`;
        }

    function detectEndTimeWhileTimepickerKeyup() {
        $('#timepicker').bind('change', function() {
            const endTime = $('#end-time-input');
            const startTime = $(this).val();
            const filmDuration = +$('#film-duration').text();

            endTime.val(estimateEndTime(startTime, filmDuration));
        });
    }

    function bindClickForOptionItems() {
        $(".option-item").unbind('click').bind('click', function() {
            const entity = $(this).parent().data('entity');
            const id = $(this).data('id');
            const name = $(this).data('name');
            const suggestionBox = $(this).closest('.suggestion-box');

            if (name !== suggestionBox.siblings('.search-box').val()) {
                if (entity === 'film') {
                    $('#film-duration').html($(this).data('duration'));
                }

                if (entity === 'cinema') {
                    $('input[name=roomId]').val('');
                    $('input.search-box.room').val('');
                }

                suggestionBox.siblings('.director_id_input').val(id);
                suggestionBox.siblings('.search-box').val(name);
            }

            suggestionBox.hide();
        });
    }

    function successHandler(entity = null, respondedObjects) {
        let suggestionOptionHtml =
            `<ul class="option-list" style="max-height: 150px; overflow:hidden; overflow-y:scroll;" data-entity="${entity}">`;

        respondedObjects.forEach(object => {
            suggestionOptionHtml += `
                <li
                    class="option-item"
                    data-id="${object.id}"
                    data-name="${object.name}"
                    data-duration="${object.duration}"
                >
                    ${object.name}
                </li>
            `;
        });

        suggestionOptionHtml += '</ul>';

        $(this).siblings('.suggestion-box').show();
        $(this).siblings('.suggestion-box').html(suggestionOptionHtml);
        $(this).css("background", "#FFF");

        bindClickForOptionItems();
    }

    function bindKeyUpSearchBox() {
        $(".search-box.cinema").unbind('keyup').bind('keyup', function () {
            const self = this;
            $.ajax({
                type: 'GET',
                url: '/admin/cinemas',
                data: `name=${$(self).val()}`,
                success: successHandler.bind(self, 'cinema')
            });
        });
        $(".search-box.film").unbind('keyup').bind('keyup', function () {
            const self = this;
            $.ajax({
                type: 'GET',
                url: '/admin/films',
                data: `name=${$(self).val()}`,
                success: successHandler.bind(self, 'film')
            });
        });
        $(".search-box.room").unbind('keyup').bind('keyup', function () {
            const self = this;
            $.ajax({
                type: 'GET',
                url: '/admin/rooms',
                data: `name=${$(self).val()}&cinemaId=${$('input[name=cinemaId]').val()}`,
                success: successHandler.bind(self, 'room')
            });
        });
    }

    jQuery(function ($) {
        $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' });

        bindKeyUpSearchBox();
        bindClickForOptionItems();
        detectEndTimeWhileTimepickerKeyup();
        fetchScheduledTimeOnDateChange();
    })
</script>
